@model Wedding

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>

<div class="row mt-5">
    <div class="col-md">
        <h2>Date: @Model.WeddingDate?.Date</h2>
        <h2 class="text-center">Guests</h2>
        @foreach (Association association in Model.AllAssociations)
        {
            <div class="card shadow rounded mx-auto w-75 mb-3">

                <div class=card-body>
                    <p class="card-text">@association.User?.FirstName @association.User?.LastName</p>
                </div>

            </div>
        }
    </div>
</div>